.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  padding: 5px;
}

@media (max-width: 768px) {
  .project-grid {
    grid-template-columns: 1fr;
  }
}

.project-item {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease;
}

.project-item:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.thumbnail {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-bottom: 1px solid #eee;
}

.project-content {
  padding: 16px;
}

.project-title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

/* start project-description */
.project-description {
  font-size: 15px;
  line-height: 1.8;
  color: #444;
  text-align: justify;
  margin-bottom: 12px;
  padding: 0 4px;
}

/* Style for common HTML tags inside the description */
.project-description p {
  margin-bottom: 12px;
}

.project-description ul {
  padding-left: 20px;
  margin-bottom: 12px;
}

.project-description li {
  margin-bottom: 6px;
  list-style-type: disc;
}

.project-description h1,
.project-description h2,
.project-description h3 {
  margin-top: 20px;
  margin-bottom: 12px;
  font-weight: 600;
  color: #222;
}

.project-description strong {
  font-weight: bold;
  color: #222;
}

.project-description a {
  color: #007bff;
  text-decoration: underline;
  word-break: break-word;
}

.project-description br {
  line-height: 24px;
}

.project-description img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 12px 0;
}


/* end project-description */


.read-more-container {
  display: flex;
  justify-content: flex-end;
}

.read-more-button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 14px;
  padding: 0;
  margin-top: 4px;
}
